.hero {
  background: linear-gradient(
      var(--linear-gradient-color),
      var(--linear-gradient-color)
    ),
    url(../images/sections-bg.png) center/cover no-repeat;
}
.hero-container {
  min-height: 200px;
}
.hero img {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.care {
  margin: clamp(72px, 8.33px, 120px) auto;
}
.care-content {
  max-width: 445px;
}
.care-content h2 {
  max-width: 445px;
}
.care-content p {
  margin: 24px 0 40px;
}
.care-image {
  width: clamp(311px, 30.9vw, 445px);
  height: clamp(311px, 30.9vw, 445px);
  border-radius: 50%;
  background: url(../images/care-image.png) center/cover no-repeat;
}
.care::after {
  position: absolute;
  content: "";
  top: 50%;
  right: -390px;
  transform: translateY(-50%);
  width: 445px;
  height: 445px;
  border-radius: 50%;
  background-color: var(--coconut-white-color);
}
.care-image img {
  z-index: 1;
  bottom: 38px;
  right: -182px;
}
.join {
  margin: clamp(72px, 8.33px, 120px) auto;
}
.join-cards-wrapper {
  margin-top: clamp(46px, 7.15vw, 103px);
  gap: 55px 25px;
}
.join-card {
  max-width: 350px;
}
.join-card img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
}
.join-card-image::after {
  position: absolute;
  content: "";
  bottom: -55px;
  left: 50%;
  transform: translateX(-50%);
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: var(--yellow-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-navy-color);
  font-family: "Space Mono";
  font-size: 24px;
  font-weight: 700;
}
.join-card:nth-child(1) .join-card-image::after {
  content: "01";
}
.join-card:nth-child(2) .join-card-image::after {
  content: "02";
}
.join-card:nth-child(3) .join-card-image::after {
  content: "03";
}
.join-card-content {
  margin-top: clamp(64px, 6.06vw, 87px);
}
.join-card-content p {
  margin-top: 27px;
}
.apply {
  margin: clamp(72px, 8.33px, 120px) auto;
}
.apply-list li {
  padding: 32px clamp(32px, 5.47vw, 40px);
  background-color: var(--details-color);
  margin-bottom: 24px;
}
.apply-content {
  width: 315px;
}
.apply-content p {
  margin-top: 10px;
}
@media only screen and (max-width: 991px) {
  .care {
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    row-gap: 56px;
  }
  .care-content {
    text-align: center;
  }
  .care-content h2 {
    max-width: 357px;
    margin: 0 auto;
  }
  .care-content p {
    max-width: 573px;
  }
  .care-image img {
    bottom: 18px;
    right: -282px;
  }
}
@media only screen and (max-width: 670px) {
  .hero-container {
    justify-content: center;
  }
  .hero img {
    display: none;
  }
  .care::after {
    display: none;
  }
  .care-image img {
    right: -432px;
  }
  .apply-list li {
    justify-content: center;
    gap: 16px 0;
  }
  .apply-content {
    text-align: center;
  }
  .apply-list a {
    flex-grow: 1;
    text-align: center;
  }
}
