.hero {
  background: linear-gradient(
      var(--linear-gradient-color),
      var(--linear-gradient-color)
    ),
    url(../images/hero-home-bg.png) center/cover no-repeat;
}
.hero-container {
  min-height: 650px;
}
.hero-content {
  max-width: 500px;
}
.hero-content p {
  max-width: 405px;
  margin: 40px 0;
  align-self: flex-end;
}
.hero-content a {
  display: inline-block;
  margin: 0 auto;
}
.yellow-line {
  left: -55px;
  bottom: 295px;
}
.yellow-arrow {
  right: 220px;
  bottom: 157px;
}
.circle-hero {
  right: 0;
  bottom: 164px;
}
.home-section {
  margin: clamp(72px, 8.33px, 120px) auto;
}
.home-section::after,
.home-section::before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  width: 445px;
  height: 445px;
  border-radius: 50%;
}
.easy::after,
.zero::after {
  right: -390px;
  background-color: var(--coconut-white-color);
}
.coming::before {
  left: -390px;
  background-color: var(--coconut-white-color);
}
.home-section-image img {
  z-index: 1;
}
.easy img {
  top: 295px;
  left: -120px;
}
.coming img {
  left: -550px;
}
.zero img {
  top: 80px;
  left: 250px;
}
.home-section-content {
  max-width: 445px;
}
.home-section-content h2 {
  max-width: 445px;
}
.home-section-content p {
  margin: 24px 0 40px;
}
.home-section-image {
  width: clamp(311px, 30.9vw, 445px);
  height: clamp(311px, 30.9vw, 445px);
  border-radius: 50%;
}
.easy-image {
  background: url(../images/easy-image-bg.png) center/cover no-repeat;
}
.coming-image {
  background: url(../images/coming-image-bg.png) center/cover no-repeat;
}
.zero-image {
  background: url(../images/zero-image-bg.png) center/cover no-repeat;
}
.home-cards-wrapper {
  margin: clamp(72px, 8.33px, 120px) auto;
  gap: 35px 20px;
}
.home-card {
  max-width: 350px;
}
.home-card span {
  width: 1000%;
  top: 47px;
  right: -80px;
  border: 7px var(--coconut-white-color) solid;
  z-index: -1;
}
.yellow-circle::before {
  content: url(../images/yellow.svg);
}
.home-card-content h3 {
  letter-spacing: -1.071px;
}
.home-card-content p {
  margin-top: 27px;
}
@media only screen and (max-width: 991px) {
  .hero-container {
    justify-content: center;
  }
  .hero-content {
    text-align: center;
    max-width: 573px;
  }
  .hero-content h1 {
    max-width: 373px;
  }
  .hero-content p {
    align-self: center;
    max-width: 573px;
  }
  .yellow-line {
    display: none;
  }
  .yellow-arrow {
    left: -127px;
    bottom: 40px;
  }
  .circle-hero {
    bottom: 40px;
  }
  .easy,
  .zero {
    flex-direction: column-reverse;
  }
  .coming {
    flex-direction: column;
  }
  .home-section {
    justify-content: center;
    align-content: center;
    row-gap: 56px;
  }
  .home-section-content {
    text-align: center;
  }
  .home-section-content h2 {
    max-width: 357px;
    margin: 0 auto;
  }
  .home-section-content p {
    max-width: 573px;
  }
  .easy img {
    top: 200px;
  }
  .coming img {
    left: -580px;
  }
  .zero img {
    top: 15px;
    left: 176px;
  }
  .home-cards-wrapper {
    flex-direction: column;
  }
  .home-card {
    max-width: 498px;
    display: flex;
    align-items: center;
    column-gap: 79px;
  }
  .home-card span {
    width: 0px;
    height: 600px;
    top: -400px;
    left: 40px;
  }
}
@media only screen and (max-width: 670px) {
  .home-section::after,
  .home-section::before {
    display: none;
  }
  .easy img {
    top: 162px;
    left: 0;
  }
  .hero-content {
    position: sticky;
    z-index: 1;
  }
  .yellow-arrow {
    left: -282px;
    bottom: 34px;
  }
  .circle-hero {
    display: none;
  }
  .home-card {
    flex-direction: column;
    row-gap: 24px;
  }
  .home-card span{
    display: none;
  }
  .home-card-content {
    text-align: center;
  }
}
