.hero {
  background: linear-gradient(var(--linear-gradient-color), var(--linear-gradient-color)),
    url(../images/sections-bg.png) center/cover no-repeat;
}
.hero-container {
  min-height: 200px;
}
.hero img {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.location {
  margin: clamp(70px, 8.33vw, 120px) auto;
}
.location-map {
  height: clamp(337px, 37.7vw, 543px);
}
.location-map img:nth-child(1) {
  width: 100%;
}
.location-content {
  margin-top: clamp(40px, 8.33vw, 120px);
  gap: 40px;
}
.location-content h2 {
  max-width: 351px;
}
.location-content p {
  max-width: 445px;
}
@media only screen and (max-width: 991px) {
  .location-content {
    text-align: center;
    flex-direction: column;
  }
  .location-content h2 {
    max-width: 457px;
  }
  .location-content p {
    max-width: 573px;
  }
}
@media only screen and (max-width: 670px) {
  .hero-container {
    justify-content: center;
  }
  .hero img {
    display: none;
  }
  .location-map {
    display: none;
  }
  .location-map-mobile {
    display: block;
  }
  .location-map-mobile img {
    width: 100%;
  }
  .location-list {
    display: flex;
    margin: 40px auto;
    min-height: 336px;
    gap: 12px 0;
  }
  .location-list li {
    background-color: #fcb72b26;
    height: 72px;
    width: 100%;
  }
  .location-list span {
    letter-spacing: -1.071px;
  }
}