:root {
  --padding: clamp(32px, 6.94vw, 165px);
  --linear-gradient-color: #2f3b59bf;
  --dark-navy-color: #495567;
  --gunmetal-color: #333a44;
  --yellow-color: #fcb72b;
  --details-color: #f2f5f9;
  --coconut-white-color: #e5ecf4;
}
@font-face {
  font-family: "Lexend Deca";
  src: url(../fonts/lexend-deca/LexendDeca-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Space Mono";
  src: url(../fonts/space-mono/SpaceMono-Bold.ttf),
    url(../fonts/space-mono/SpaceMono-Regular.ttf);
}
main {
  margin-top: clamp(64px, 6.5vw, 100px);
  overflow-x: hidden;
}
footer {
  background-color: var(--gunmetal-color);
}
h1,
h2 {
  font-family: "Space Mono";
}
h1 {
  font-size: clamp(40px, 3.88vw, 56px);
  letter-spacing: -2.5px;
}
h2 {
  color: var(--dark-navy-color);
  font-size: clamp(32px, 3.33vw, 48px);
  line-height: clamp(32px, 3.33vw, 48px);
  letter-spacing: -2.143px;
}
.main-container {
  max-width: calc(1110px + (var(--padding)) * 2);
  padding: 0 var(--padding);
  margin: 0 auto;
}
.active {
  color: var(--yellow-color);
}
.header-container {
  height: clamp(64px, 6.66vw, 96px);
}
.logo img {
  width: clamp(75px, 7.43vw, 107px);
  height: clamp(20px, 1.94vw, 28px);
}
.application {
  background: url(../imgs/application-sec-bg.png) center right/cover no-repeat;
}
.application-container {
  min-height: 300px;
}
.application-container h2 {
  max-width: 415px;
}
.install-app {
  gap: 0 18px;
}
.footer-container {
  min-height: 96px;
}
.social-media {
  gap: 0 24px;
}
@media only screen and (max-width: 991px) {
  .application-container h2 {
    max-width: 357px;
  }
  .install-app {
    gap: 16px 12px;
  }
}
@media only screen and (max-width: 670px) {
  .burger-bar {
    width: 20px;
    margin-right: -80px;
  }
  .footer-container {
    min-height: 438px;
    gap: 68px 0;
  }
  .logo-nav-footer {
    gap: 41px 0;
  }
  .logo-nav-footer ul {
    gap: 16px 0;
  }
}
