:root {
  --padding: 16px;
  --white: #ffffff;
  --blue-gray: #939caa;
  --yellow: #fcb72b;
  --dark-grayish-blue: #333a44;
  --blue-gray-2: #495567;
}
body {
  counter-reset: join-card-img;
}
main {
  overflow-x: hidden;
}
h1 {
  color: var(--white);
  font-size: clamp(40px, 5.04vw, 56px);
  letter-spacing: -2.5px;
}
h2 {
  color: var(--blue-gray-2);
  font-size: clamp(32px, 4.32vw, 48px);
  line-height: clamp(32px, 4.32vw, 48px);
  letter-spacing: -2.14px;
}
.hero {
  background: linear-gradient(#2f3b5991, #2f3b5991),
    url(../imgs/location/hero-bg.png) center/cover no-repeat;
  position: relative;
}
.hero::after {
  content: url(../imgs/location/circle-hero.png);
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}
.hero-container {
  min-height: 200px;
}
.care {
  margin: 120px auto;
  padding: 20px var(--padding);
  flex-wrap: wrap-reverse;
  position: relative;
  gap: 64px;
}
.care::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -460px;
  transform: translateY(-50%);
  width: 445px;
  height: 445px;
  border-radius: 50%;
  background-color: #e5ecf4;
}
.care::before {
  content: url(../imgs/careers/care-arrow.png);
  position: absolute;
  right: -165px;
  top: 307px;
  z-index: 1;
  transform-origin: right;
}
.care-content {
  width: 445px;
}
.care-content p {
  color: var(--blue-gray);
  font-size: 15px;
  line-height: 25px;
  margin: 24px 0 40px;
}
.care img {
  width: clamp(311px, 40.09vw, 445px);
  height: clamp(311px, 40.09vw, 445px);
  border-radius: 50%;
}
.join {
  margin: 120px auto;
  text-align: center;
}
.join h2 {
  margin-bottom: 103px;
}
.join-cards-container {
  gap: 60px 30px;
}
.join-card {
  width: 350px;
}
.join-card-img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  margin: 0 auto 87px;
  position: relative;
}
.join-card-img img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
}
.join-card-img::after {
  counter-increment: join-card-img;
  content: "0" counter(join-card-img) "";
  width: 96px;
  height: 96px;
  border-radius: 50%;
  position: absolute;
  bottom: -55px;
  background-color: #fcb72b;
  color: var(--blue-gray-2);
  font-family: "Space Mono";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -1.07px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.join-card-content h3 {
  color: var(--blue-gray-2);
  font-size: 24px;
  letter-spacing: -1.07px;
}
.join-card-content p {
  color: var(--blue-gray);
  font-size: 15px;
  line-height: 25px;
  margin-top: 27px;
}
.apply {
  margin: 120px auto;
  flex-direction: column;
  gap: 24px;
}
.apply-row-container {
  padding: 32px 40px;
  background-color: #f2f5f9;
  gap: 26px;
}
.apply-content {
  color: var(--blue-gray-2);
}
.apply-content h3 {
  font-size: clamp(18px, 2.16vw, 24px);
  letter-spacing: -1.07px;
  margin-bottom: 8px;
}
.apply-content h4 {
  font-size: 15px;
}
.apply-row-container a {
  width: 180px;
}
@media (max-width: 902px) {
  .care {
    justify-content: center;
  }
  .care::after {
    right: -379px;
    top: 0;
    transform: translateY(0);
  }
  .care::before {
    top: 204px;
  }
  .care-content {
    flex-grow: 1;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .join-cards-container {
    flex-direction: column;
  }
  .join-card {
    width: 100%;
  }
}
@media (max-width: 584px) {
  .hero::after {
    display: none;
  }
  .hero-container {
    justify-content: center;
  }
  .care::after {
    display: none;
  }
  .care::before {
    right: -423px;
    top: 164px;
  }
  .apply-row-container {
    flex-direction: column;
    text-align: center;
  }
  .apply-row-container a {
    width: 100%;
  }
}
